.doors {
  position: relative;
  width: 250px;
  height: 420px;
  background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
  background: rgb(15,46,127);
  left: 30px;
}

.size {
  position: relative;
  width: 75px;
  height: 80px;
}

.filled {
  background: white;
  color: white;
}

.windows {
  position: relative;
  width: 81px;
  height: 80px;
}

.border {
  border: solid;
  color: white;
}

/*Light enclousure*/
.TriMini{
  position: relative;
  left: 143px;
  width: 0;
  height: 10px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 6px solid rgb(15,46,127);
}

/*Light enclousure*/
.light{
  position: relative;
  background: rgb(15,46,127);
  height:25px;
  width: 24px;
  top: 0;
  left: 143px;
}

/*Lightbulb*/
.bulb{
  position: absolute;
  background: white;
  height:25px;
  width: 14px;
  top: 0;
  left: 5px;
}

/*Little bar at the top*/
.TopMini{
  position: relative;
  background: rgb(15,46,127);
  height:5px;
  width: 30px;
  top: 0;
  left: 140px;
}

/*Triangles for the top*/
.triangle{
  position: relative;
  left: 40px;
  width: 30px;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 20px solid rgb(15,46,127);
}

/*Top Rectanfg;e*/
.TopRec {
  position: relative;
  background: rgb(15,46,127);
  height:15px;
  width: 230px;
  top: 0;
  left: 40px;
}

/*Center Rectangle*/
.CenterRec {
  position: relative;
  background: rgb(15,46,127);
  height:15px;
  width: 250px;
  top: 0;
  left: 30px;
}

/*Police Message*/

.police {
  position: relative;
  background: rgb(15,46,127);
  height:30px;
  width: 270px;
  top: 0;
  left: 20px;
}

.polBorder {
  position: relative;
  height: 15px;
  width: 230px;
  color: white;
  border: solid;
  top: 5px;
  left: 17px;
}

/*Left side*/
.window0 {
  top: 10px;
  left: 20px;
}

.notice {
  top: 30px;
  left: 23px;
}

.square0 {
  top: 50px;
  left: 20px;
}
.square1 {
  top: 70px;
  left: 20px;
}

/*Right side*/

.window1 {
  top: -322px;
  left: 153px;
}

.square2 {
  top: -302px;
  left: 153px;
}

.square3 {
  top: -288px;
  left: 153px;
}

.square4 {
  top: -268px;
  left: 153px;
}

/*Window Lines*/

.vertical0 {
  position:absolute;
  width: 5px;
  height: 80px;
  background: rgb(15,46,127);
  left: 25px;
}

.vertical1 {
  position:absolute;
  width: 5px;
  height: 80px;
  background: rgb(15,46,127);
  top: 0;
  left: 52px;
}

.horizontal {
  position:absolute;
  width: 81px;
  height: 5px;
  background: rgb(15,46,127);
  top: 40px;
  left: 0;
}

/*Middle Line*/
.middle {
  position: absolute;
  background: white;
  width: 6px;
  height: 392px;
  top: 10px;
  left: 125px;
}

/*Footer for the tardis*/
.triFoot{
  position: relative;
  left: 20px;
  width: 250px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid rgb(15,46,127);
}

.foot{
  position: relative;
  background: rgb(15,46,127);
  height:12px;
  width: 270px;
  top: 0;
  left: 20px;
}
